.first_row h3{
    color: rgb(101, 29, 14);
    font-size: 25px;
}

.first_row{
    width: 100%;
    height: 600px;
    background-image: url('https://images.pexels.com/photos/37703137/pexels-photo-37703137.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards_section{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.users_section_inner{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.users_section_inner img{
    width: 285px;
    height: 250px;
}
.Cards_{
    width: 100%;
    height: 600px;
    background-color: rgb(21, 89, 149);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.cards_heading{
    color: rgb(101, 29, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 89, 149);
}
nav{
    width: 100%;
    height: 70px;
    background-color: rgb(196, 128, 39);
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
}
nav ul li a{
    text-decoration: none;
    margin-right: 50px;
    color: rgb(94, 55, 5);
}
footer{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(245, 201, 113, 0.577);
}
.footer_section{
    height: 250px;
    width: 80%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    color: rgb(94, 55, 5);
}
.footer_section h4{
    font-weight: 600;
}
.footer_first h4{
    text-align: center;
}

.test_btn{
    background-color: blueviolet;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
    
}



